# Ignore all m5out directories and build directories
**/m5out/

# Jekyll stuff
_site/
.sass-cache/
Gemfile.lock

typings/

# .vscode stuff
.vscode/*.log

__pycache__
gem5/tests/test-progs/threads/bin/x86/linux/threads
gem5/*.log.bak
gem5/results/Granet/config.dot
gem5/results/Granet/config.dot.pdf
gem5/results/Granet/config.dot.svg
gem5/results/Granet/config.ini
gem5/results/Granet/config.system.cache_hierarchy.ruby_system.dot
gem5/results/Granet/config.system.cache_hierarchy.ruby_system.dot.pdf
gem5/results/Granet/config.system.cache_hierarchy.ruby_system.dot.svg
gem5/results/Granet/stats.txt
gem5/tests/test-progs/threads/bin/x86/linux/threads
gem5/tests/test-progs/threads/bin/x86/linux/threads
gem5/results/*.txt
*.log
